.container {
  background: #33353D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 640px;
  height: auto;
  padding: 20px 40px;
}

.container h2 {
  color: #fff;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.container .form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
}

.container .form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .form .form-group label {
  color: #fff;
  opacity: .8;
  font-size: 1.2rem;
}

.container .form .form-group input {
  margin-top: 14px;
  padding: 12px;
  color: #fafafa;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #fff;
  margin-bottom: 10px;
}

.container .form button {
  background: #FFF2D7;
  color: #33353D;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 14px;
  border: none;
  cursor: pointer;
}

.home-container {
  background: #33353D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 640px;
  height: auto;
  padding: 20px 40px;
}

.home-container h1 {
  color: #fff;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.home-container .home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-container .home-buttons button {
  background: #FFF2D7;
  color: #33353D;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 14px;
  border: none;
  cursor: pointer;
  margin: 0px 10px;
} 

.container .container-buttons .material-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #777777;
  cursor: pointer;
}

.container .container-buttons .material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.container .container-buttons .checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid #f1e6ce;
  border-radius: 4px;
  transition: all 0.3s;
}

.container .container-buttons .material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #2F3300;
  border-color: #f1e6ce;
}

.container .container-buttons .material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.container .container-buttons .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px #ece1cb;
}

.container .container-buttons .material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: #FFF2D7;
}

.container .container-buttons .material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.container .container-buttons .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
}

.container .container-buttons a {
  color: #FFF2D7;
  text-decoration: none;
  font-size: 1.2rem;
}

.user-information {
  background: linear-gradient(45deg, #27282D, #232428);
  text-align: center;
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style for loading screen icon */ 
.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}
 
.spinner > div {
  background: rgba(0,77,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}
 
.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}
 
.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}
 
.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}
 
.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}
 
.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}
 
.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}
 
@keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

body {
  background: linear-gradient(45deg, #27282D, #232428);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
